<html>

<head>
    <title>학식표</title>
</head>

<body>
    <h1>2019 <%= month %>월 <%= date %>일 <%=daytime %> 식단</h1>
    <ul>
        <% for(var i=0; i<menus.length; i++){ %>
        <li>
            <%= menus[i] %>
        </li>
        <% } %>
    </ul>
</body>

</html>